# See LICENSE.txt for copyright and licensing information about this file.

# All build directories contain build artifacts that should never be checked in.
build/

# Thumbnails
._*
*~

# Windows
Thumbs.db
ehthumbs.db

# Windows recycle bin used on file shares
$RECYCLE.BIN/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Visual Studio files and build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
.vs/

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db

# WinMerge
*.bak

# Visual Studio Code editor
.vscode

# VSCode Workspaces
*.code-workspace

# Command-line build artifacts
*.dll
*.exe
*.exp
*.lib
